
<!-- banner -->
<section class="banner_main" style="background: url(assets/images/banner.jpg);
background-repeat: no-repeat;
min-height: 700px;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
background-size: 100% 100%;">
    <div class="container">
       <div class="row d_flex">
          <div class="col-md-12">
             <div class="text-bg">
                <h1>Ən yaxşı elektrik avtomobilləri buradan tap</h1>
                <strong>Elanlarını pulsuz yerləşdir</strong>
                <span>Avtomobilini onlayn sat</span>
                <p>
                  Biz inanırıq ki, elektrik avtomobili hər kəsə və istənilən həyat tərzinə mükəmməl uyğunlaşa bilər. 
                   <head></head>
                </p>
                <a routerLink="about">Daha çox</a>
             </div>
          </div>
       </div>
    </div>
  </section>
  <!-- end banner -->
  <!-- car -->
  <div  class="car">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>ƏN MƏŞHUR MAŞIN ÇEŞIDLƏRi </h2>
                <span>Ay üzrə sayta yerləşdirilən ən yaxşı avtomobil markaları</span>
             </div>
          </div>
       </div>
       <div class="row" >
          <div class="col-md-4" *ngFor="let a of tbAds">
             <div class="car_box">
                <figure><img class="img-fluid" [src]="a.imageUrl" style="width: 100%; height: 300px;" alt="Alternate Text"/></figure>
                <h3>{{a.brandName}}</h3>
             </div>
          </div>
         
       </div>
    </div>
  </div>
  <!-- end car -->
  <!-- bestCar -->

  <!-- end bestCar -->
  <!-- choose  section -->
  <div class="choose ">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>NİYƏ BİZ</h2>
                <span>EcoCars daha yaxşı, daha parlaq və daha davamlı gələcək üçün ümumi mif və yanlış təsəvvürlərə qarşı mübarizə aparmaqla elektrik nəqliyyat vasitələrinə sahib olmağın faydaları haqqında bütün dünyanı maarifləndirməyə çalışır.</span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="choose_box">
                <span>01</span>
                <p>Avtomobil sənayesi gəlirlərə görə dünyanın ən əhəmiyyətli iqtisadi sektorlarından biridir. EcoCars dünyada elektrik və hibrid avtomobil həvəskarlarının ən böyük auditoriyasını təmsil edir. </p>
             </div>
          </div>
          <div class="col-md-12">
             <div class="choose_box">
                <span>02</span>
                <p>İstehlakçılara mövcud olan ən sadə və istifadəçi dostu şəkildə elektrikli nəqliyyat vasitələri haqqında öyrənməyə, almağa və satmağa imkan verən xüsusi elektrikli avtomobil platforması və icması. </p>
             </div>
          </div>
          <div class="col-md-12">
             <div class="choose_box">
                <span>03</span>
                <p>EcoCars, sənayenin aparıcı məzmunu, müştərilərimizə misilsiz sədaqəti və əla istifadəçi təcrübəsi ilə məzmunu yüksək cəlb olunmuş auditoriyaya çatdıran təməlqoyma texnologiya şirkətidir. </p>
             </div>
          </div>
       </div>
    </div>
  </div>
  <!-- end choose  section -->
  <!-- cutomer -->
  <div class="cutomer">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>MÜŞTƏRİMİZ NƏ DEYİR</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div id="myCarousel" class="carousel slide cutomer_Carousel " data-ride="carousel">
                <ol class="carousel-indicators">
                   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="1"></li>
                   <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                   <div class="carousel-item active">
                      <div class="container">
                         <div class="carousel-caption ">
                            <div class="cross_img">
                               <figure><img src="assets/images/cross_img.png" alt="#"/></figure>
                            </div>
                            <div class="our cross_layout">
                               <div class="test_box">
                                  <h4>John</h4>
                                  <span>Müştəri</span>
                                  <p>Böyük təcrübə. Super sürətli və asan əməliyyat. Və avtomobilim üçün gözlədiyimdən daha çoxunu aldım. Çox tövsiyə olunur.</p>
                                  <i><img src="assets/images/te1.png" alt="#"/></i>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container">
                         <div class="carousel-caption">
                            <div class="cross_img">
                               <figure><img src="assets/images/cross_img.png" alt="#"/></figure>
                            </div>
                            <div class="our cross_layout">
                               <div class="test_box">
                                  <h4>Mark</h4>
                                  <span>Müştəri</span>
                                  <p>Düzünü desəm, satışı necə asanlaşdırdıqlarından bir az narahat idim. Xoş təəccüb! Qüsursuz transfer! Əla qiymət!</p>
                                  <i><img src="assets/images/te1.png" alt="#"/></i>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container">
                         <div class="carousel-caption">
                            <div class="cross_img">
                               <figure><img src="assets/images/cross_img.png" alt="#"/></figure>
                            </div>
                            <div class="our cross_layout">
                               <div class="test_box">
                                  <h4>Parker</h4>
                                  <span>Müştəri</span>
                                  <p>Təklifdən tutmuş avtomobilimin götürülməsinə qədər, EcoCars stressli bir prosesi tamamilə qüsursuz etdi. Müştəri olduğum nümayəndələr peşəkar və bacarıqlı idilər. Çox tövsiyə edərdim.</p>
                                  <i><img src="assets/images/te1.png" alt="#"/></i>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
             </div>
          </div>
       </div>
    </div>
  </div>
  <!-- end cutomer -->