
<div class="container">
    <br>
	<br>
    <div id="contact" class="bestCar" style="margin-top: 90px;
    background: url(assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 100px 0">
        <div class="container">
          
           <div class="row">
              <div class="col-sm-12">
                 <div class="row">
                    <div class="col-md-6 offset-md-6">
                       <form class="main_form">
                          <div class="titlepage">
                             <h2>Ən yaxşı elektrik avtomobili tap</h2>
                          </div>
                          <div class="row">
                             <div class="col-md-12">
                                <!-- <select (ngModelChange)="onChange($event)" name="brands">
                                 <option *ngFor="let br of brandNames" [ngValue]="br.id">
                                     {{br.brandName}}
                                 </option>
                                 
                                 </select> -->
                             </div>
                             <div class="col-md-12">
                                <select>
                                   <option value="0">Choose Car Type </option>
                                   <option value="1">1</option>
                                   <option value="2">2</option>
                                   <option value="3">3</option>
                                </select>
                             </div>
                            
                             <div class="col-md-12">
                                <select>
                                   <option value="0">Price of Rent</option>
                                   <option value="1">1</option>
                                   <option value="2">2</option>
                                   <option value="3">3</option>
                                </select>
                             </div>
                             <div class="col-sm-12">
                                <button class="find_btn">Gətir</button>
                             </div>
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>

	<div class="row" id="ads">
    <!-- Category Card -->
    <div class="col-md-4" style="padding-bottom: 10px;" *ngFor="let a of tbAds">
        <div class="card rounded" style="width: 400px;">
            <div class="card-image">
                <span class="card-notify-badge">{{a.city}}</span>
                <span class="card-notify-year">{{a.year}}</span>
                <!-- <img class="img-fluid" [src]="a.tB_AdsImages[0].carImagePath" alt="Alternate Text" /> -->
                <img class="img-fluid" [src]="a.imageUrl" style="width: 100%; height: 300px;" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">{{a.speedBox}}</span>
                <span class="card-detail-badge">{{a.price}} {{a.currencyName}}</span>
                <span class="card-detail-badge">{{a.distance}} {{a.distanceType}}</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>{{a.brandName}} {{a.modelName}}</h5>
                </div>
                <a class="ad-btn" routerLink="/products/list-item/{{a.id}}">Ətraflı</a>
            </div>
        </div>
    </div>
   

</div>