<!-- <p>{{inputFromParent}}</p> -->

<div class="container">
    <br>
	<br>
	<div class="row" id="ads" >
    <!-- Category Card -->
        <div class="col-sm-4" >
            <div class="card rounded" >
                <div class="card-image">
                    <span class="card-notify-badge">{{tbAdsDetail.note}}</span>
                    <span class="card-notify-year">2018</span>
                    <img class="img-fluid" src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC011A021001.jpg&width=440&height=262" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">Used</span>
                    <span class="card-detail-badge">$28,000.00</span>
                    <span class="card-detail-badge">13000 Kms</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Honda Accord LX</h5>
                    </div>
                </div>
            </div>
        </div>
    

</div>