<div class="container">

    
        <div class="row">
            <div class="col" style="background-color:darkslategray">
                <br /><br />
                <div class="container" style="text-align:center;">
                    <h2 style="color:white;text-align:center;">HAQQIMIZDA</h2>
                    <hr style="background-color:white;" />
                    <br />
                          <p style="color:white;">Avtomobil sənayesi gəlirlərə görə dünyanın ən əhəmiyyətli iqtisadi sektorlarından biridir. EcoCars dünyada elektrik və hibrid avtomobil həvəskarlarının ən böyük auditoriyasını təmsil edir.  </p>
                    <br /><br />
                          <p style="color:white;">EcoCars daha yaxşı, daha parlaq və daha davamlı gələcək üçün ümumi mif və yanlış təsəvvürlərə qarşı mübarizə aparmaqla elektrik nəqliyyat vasitələrinə sahib olmağın faydaları haqqında bütün dünyanı maarifləndirməyə çalışır. </p>
                </div>
            </div>
            <div class="col">
                <div>
                    <img style="width:100%;" src="assets/images/about1.jpg" />
                </div>
            </div>
        </div>




    
        <div class="row">
            <div class="col">
                <div>
                    <img style="width:100%;" src="assets/images/about2.jpg" />
                </div>
            </div>
            <div class="col" style="background-color:darkcyan">
                <br /><br />
                <div class="container" style="text-align:center;">
                    <h2 style="color:white;text-align:center;">MİSSİYAMIZ</h2>
                    <hr style="background-color:white;" />
                    <br />
                          <p style="color:white;">Sənayeyə çox ehtiyac duyduğu bir şeyi vermək üçün EcoCars yaratdıq:  </p>
                    <br /><br />
                          <p style="color:white;">istehlakçılara mövcud olan ən sadə və istifadəçi dostu şəkildə elektrikli nəqliyyat vasitələri haqqında öyrənməyə, almağa və satmağa imkan verən xüsusi elektrikli avtomobil platforması və icması. </p>
                </div>
            </div>
            
        </div>
    


        
        <div class="row">
            <div class="col" style="background-color:darkred">
                <br /><br />
                <div class="container" style="text-align:center;">
                    <h2 style="color:white;text-align:center;">VİZYONUMUZ</h2>
                    <hr style="background-color:white;" />
                    <br />
                          <p style="color:white;">Biz inanırıq ki, elektrik avtomobili hər kəsə və istənilən həyat tərzinə mükəmməl uyğunlaşa bilər. </p>
                    <br /><br />
                          <p style="color:white;">Biz üzərimizə düşəni etməli və insanlara bunun səbəbini anlamağa kömək etməliyik. </p>
                </div>
            </div>
            <div class="col">
                <div>
                    <img style="width:100%;" src="assets/images/about1.jpg" />
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col">
                <div>
                    <img style="width:100%;" src="assets/images/about2.jpg" />
                </div>
            </div>
            <div class="col" style="background-color:dimgray">
                <br /><br />
                <div class="container" style="text-align:center;">
                    <h2 style="color:white;text-align:center;">BİZ KİMİK</h2>
                    <hr style="background-color:white;" />
                    <br />
                          <p style="color:white;">EcoCars, sənayenin aparıcı məzmunu, müştərilərimizə misilsiz sədaqəti və əla istifadəçi təcrübəsi ilə məzmunu yüksək cəlb olunmuş auditoriyaya çatdıran təməlqoyma texnologiya şirkətidir.  </p>
                </div>
            </div>
            
        </div>


  
</div>
