<!-- <a routerLink="">Home</a> | <a routerLink="products">Products</a> | <a routerLink="admin">Admin</a> -->


<header>
  <div class="header" style="background-color: #f6d601;">
     <div class="container">
        <div class="row">
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col">
              <div class="full">
                 <div class="center-desk">
                    <div class="logo">
                     <h4>
                       <a style="color: black;" routerLink="">EcoCars</a>
                     </h4>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
              <nav class="navigation navbar navbar-expand-md navbar-dark ">
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav mr-auto">
                       <li class="nav-item">
                          <a class="nav-link active" aria-current="page" routerLink="" style="color: black;"> EcoCars </a>
                       </li>
                       <li class="nav-item">
                          <a routerLink="products" class="nav-link active" aria-current="page" style="color: black;">Avtomobillər</a>
                       </li>
                       <li class="nav-item">
                          <a class="nav-link active" routerLink="about" style="color: black;">Haqqımızda</a>
                       </li>
                    </ul>
                    <div class="sign_btn"><a href="#" style="background-color:black; color: white;">Giriş</a></div>
                 </div>
              </nav>
           </div>
        </div>
     </div>
  </div>
</header>



<!-- <div class="container-fluid">
  <nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">EcoCars</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          <a class="nav-link" routerLink="products">Buy Car</a>
          <a class="nav-link" routerLink="">Sell Car</a>
         
        </div>
      </div>
    </div>
  </nav>
</div> -->

<router-outlet></router-outlet>



<footer>
  <div class="footer" style="background-color: #f6d601;">
     <div class="container">
        <div class="row">
           <div class="col-md-4">
              <div class="cont_call">
                 <!-- <p> Call Now<br>
                    (+1) 12345667890
                 </p> -->

                 <h4><b>EcoCars</b></h4>
                        <ul>
                            <li><a>Haqqımızda</a></li>
                            <li><a>Giriş</a></li>
                            <li><a routerLink="products">Elektrik avtomobillər satış üçün</a></li>
                            <li><a routerLink="create">Öz elektrik avtomobilini sat</a></li>
                        </ul>
              </div>
           </div>
           <div class="col-md-4">
            <div class="cont_call">
               <ul class="foote_bottom_ul_amrc">
                  <li><a href="http://webenlance.com">Ana səhifə</a></li>
                  <li><a routerLink="about">Haqqımızda</a></li>
                  <li><a href="http://webenlance.com">Servislərimiz</a></li>
                  <li><a href="http://webenlance.com">Qİymətləndirmə</a></li>
                  <li><a href="http://webenlance.com">Əlaqə</a></li>
              </ul>
            </div>
            
         </div>
         <div class="col-md-4">
            <div class="cont_call">
               <ul class="social_footer_ul">
                  <li><a href="https://www.facebook.com/fehmin.qurban/">Facebook</a></li>
                  <li><a href="https://www.linkedin.com/in/fehmin-qurbanli-a213141ba">Linkedin</a></li>
                  <li><a href="https://instagram.com/fehmin_1905?utm_medium=copy_link">Instagram</a></li>
                  <li>+994707121710</li>
              </ul>
            </div>
            
         </div>
        </div>
     </div>
     <div class="copyright" style="height: 10px;">
        <div class="container">
           <div class="row" >
              <div class="col-md-12">
                 <h6 style="color: white;">© 2024 All Rights Reserved. Design by <a href="https://www.linkedin.com/in/fehmin-qurbanli-a213141ba"> Fahmin Gurbanli</a></h6>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer>


