<form #frmRegister="ngForm" enctype="multipart/form-data" (ngSubmit)="create(frmRegister.value)">

<div class="container-sm" style="background-color: beige;">
    
<br><br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <h2>ELAN YERLƏŞDİRMƏK</h2>
        </div>
<div class="col-md-6"></div><br><br>


        <div class="col-sm-2">
           
            <h3>Marka</h3>
            
        </div>
        <div class="col-sm-4 form-group">
        
            <select (ngModelChange)="onChange($event)" class="form-control" name="brand_id" [(ngModel)]="formData.brand_id">
                <option *ngFor="let br of brandNames" [ngValue]="br.id">
                    {{br.brandName}}
                </option>
                
            </select>
        </div>



    


        <div class="col-sm-2">
            
            <h3>Model</h3>
           
        </div>
        <div class="col-sm-4 form-group">
            <select id="models" class="form-control" [(ngModel)]="formData.model_id" name="model_id">
                <option *ngFor="let m of modelNames" [ngValue]="m.id">
                    {{m.modelName}}
                </option>
            </select>
        </div>


        <div class="col-sm-2">
            
            <h3>Ötürücü</h3>
           
        </div>
        <div class="col-sm-4">
            <select class="form-select" [(ngModel)]="formData.transmission_id" name="transmission_id">
                <option *ngFor="let t of transmissions" [ngValue]="t.id">
                    {{t.description}}
                </option>
            
            </select>
        </div>


        <div class="col-sm-2">
            
            <h3>Ban növü</h3>
           
        </div>
        <div class="col-sm-4">
            <select class="form-select" [(ngModel)]="formData.ban_type" name="ban_type">
                <option *ngFor="let b of banTypes" [ngValue]="b.id">
                    {{b.description}}
                </option>
            </select>
        </div>


        <div class="col-sm-2">
            
            <h3>Sürətlər qutusu</h3>
           
        </div>
        <div class="col-sm-4">
            <select class="form-select" [(ngModel)]="formData.speed_box" name="speed_box">
                <option *ngFor="let s of speedBoxes" [ngValue]="s.id">
                    {{s.description}}
                </option>
            </select>
        </div>



        <div class="col-sm-2">
            
            <h3>Yürüş</h3>
           
        </div>
        <div class="col-sm-2">
            <input class="form-control form-control-lg" type="number" [(ngModel)]="formData.distance" name="distance" min="0" placeholder="0">
        </div>
        <div class="col-sm-2 pt-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="formData.distance_id" name="distance_id" value="1" checked>
                <label class="form-check-label" for="distance_id">
                  km
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="2" [(ngModel)]="formData.distance_id" name="distance_id">
                <label class="form-check-label" for="distance_id">
                  mi
                </label>
              </div>
        </div>
        
        
        <div class="col-sm-2">
            
            <h3>Buraxılış ili</h3>
           
        </div>
        <div class="col-sm-4">
            <select class="form-select" [(ngModel)]="formData.year" name="year">
                <option *ngFor="let y of years" [ngValue]="y.description">
                    {{y.description}}
                </option>
            </select>
        </div>


        <div class="col-sm-2">
            
            <h3>Rəng</h3>
           
        </div>
        <div class="col-sm-4">
            <select class="form-select" [(ngModel)]="formData.color_id" name="color_id">
                <option *ngFor="let c of colors" [ngValue]="c.id">
                    {{c.description}}
                </option>
            </select>
        </div>


        <div class="col-sm-2">
            
            <h3>Qiymət</h3>
           
        </div>
        <div class="col-sm-2">
            <input type="number" class="form-control form-control-lg" [(ngModel)]="formData.price" name="price" min="0" placeholder="0">
        </div>
        <div class="col-sm-2 pt-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="formData.currency_id" name="currency_id" value="1" [checked]="true">
                <label class="form-check-label" for="currency_id">
                  AZN
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="2" [(ngModel)]="formData.currency_id" name="currency_id">
                <label class="form-check-label" for="currency_id">
                  USD
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="3" [(ngModel)]="formData.currency_id" name="currency_id">
                <label class="form-check-label" for="currency_id">
                  EUR
                </label>
              </div>
        </div>
        <div class="col-md-6"></div>





        <div class="col-sm-2">
            
            <h3>Oturacaqların sayı</h3>
           
        </div>
        <div class="col-sm-4">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="1" [(ngModel)]="formData.seat_count" name="seat_count" >
                <label class="form-check-label" for="seat_count">
                    1
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="2" [(ngModel)]="formData.seat_count" name="seat_count">
                <label class="form-check-label" for="seat_count">
                    2
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="3" [(ngModel)]="formData.seat_count" name="seat_count">
                <label class="form-check-label" for="seat_count">
                    3
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="4" [(ngModel)]="formData.seat_count" name="seat_count">
                <label class="form-check-label" for="seat_count">
                    4
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="5" [(ngModel)]="formData.seat_count" name="seat_count">
                <label class="form-check-label" for="seat_count">
                    5
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="6" [(ngModel)]="formData.seat_count" name="seat_count">
                <label class="form-check-label" for="seat_count">
                    6
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="7" [(ngModel)]="formData.seat_count" name="seat_count">
                <label class="form-check-label" for="seat_count">
                    7
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="-1" [(ngModel)]="formData.seat_count" name="seat_count">
                <label class="form-check-label" for="seat_count">
                    8+
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="0" [(ngModel)]="formData.seat_count" name="seat_count" [checked]="true">
                <label class="form-check-label" for="seat_count">
                    Qeyd olunmasın
                </label>
              </div>
        </div>
        <div class="col-md-6"></div>

    <br><br><br>
    
    
   
       
<br><br><br><br>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><h3>Avtomobilin təchizatı</h3></div>
        
        <div class="col-sm-8"></div>

        

        <div class="col-sm-3"></div>

        <div class="col-sm-2">
            <div class="form-check">
                <label class="form-check-label" for="leather_salon">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="formData.leather_salon" name="leather_salon">
                    Dəri salon
                </label>
              </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="formData.park_radar" name="park_radar">
                <label class="form-check-label" for="park_radar">
                    Park radarı
                </label>
              </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="formData.lyuk" name="lyuk">
                <label class="form-check-label" for="lyuk">
                    Lyuk
                </label>
              </div>
        </div>
       

        <div class="col-sm-3"></div>





        <div class="col-sm-3"></div>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="formData.condisioner" name="condisioner" >
                <label class="form-check-label" for="condisioner">
                    Kondisioner
                </label>
              </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="formData.rear_camera" name="rear_camera">
                <label class="form-check-label" for="rear_camera">
                    Arxa görüntü kamerası
                </label>
              </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="formData.seat_heating" name="seat_heating" >
                <label class="form-check-label" for="seat_heating">
                    Oturacaqların isidilməsi
                </label>
              </div>
        </div>
    
        <div class="col-sm-3"></div>
<hr>

        <!-- <app-upload></app-upload> -->
        <div class="row" style="margin:15px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <div class="p-2 w-50 bd-highlight">
                    <input class="m-2" type="file" id="file" multiple name="imageFile" (change)="handleFileInput($event)" accept="image/*"/>
      
                  </div>
            </div>
            
          
        </div>

        <hr>

        <div class="col-sm-2"></div>
        <div class="col-sm-2"><h3>Əlaqə</h3></div>
        
        <div class="col-sm-8"></div>




        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <label class="form-label" >Adınız</label>
            <input class="form-control form-control-lg" type="text" [(ngModel)]="formData.name" name="name" aria-label=".form-control-lg example">
        </div>
        <div class="col-sm-2">
            <label class="form-label" >Şəhər</label>
            <input class="form-control form-control-lg" type="text" [(ngModel)]="formData.city" name="city" aria-label=".form-control-lg example">
        </div>
        <div class="col-sm-2">
            <label class="form-label" >E-mail</label>
            <input class="form-control form-control-lg" type="text" [(ngModel)]="formData.email" name="email" aria-label=".form-control-lg example">
        </div>
        <div class="col-sm-2">
            <label class="form-label" >Telefon nömrəsi</label>
            <input class="form-control form-control-lg" type="text" [(ngModel)]="formData.phonenumber" name="phonenumber" aria-label=".form-control-lg example">
        </div>
        <div class="col-sm-2"></div>

        <div class="col-sm-2"></div>
        <div class="col-sm-2">Əlavə məlumat</div>
        <div class="col-sm-6">
            <div class="input-group">
                <!-- <textarea class="form-control" ngModel name="form-data.note" aria-label="With textarea"></textarea> -->
                <textarea class="form-control" [(ngModel)]="formData.note" name="note" aria-label="With textarea"></textarea>
            </div>
        </div>

        <br><br>
        <br><br>
        <br><br>
    <div class="col-lg-3"></div>
    <div class="row col-lg-3">
        <div class="col">
            <button class="btn btn-danger" aria-current="page" [routerLink]="['']">İmtina et</button>
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit">Əlavə et</button>
        </div>
    </div>
<br><br>
      
    </div>
    
</div>
</form>
